<div class="card my-2">
  <div class="card-header text-center">
    <div *ngIf="Course.source==LOCAL">
      <i class="fas fa-home"></i>
      <span class="ml-2">我的课程</span>
    </div>
    <div *ngIf="Course.source!=LOCAL">
      <i class="fas fa-share-alt"></i>
      <span class="ml-2">共享的课程</span>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title text-center">
      {{Course.courseName}}
    </h5>
    <ul class="card-text course-summary list-group list-group-flush">
      <li class="list-group-item">
        <i class="fas fa-user"></i>
        <span class="ml-2 text-center">{{Course.teacher || '-----'}}</span>
      </li>
      <li class="list-group-item">
        <i class="fas fa-map-marker-alt"></i>
        <span class="ml-2 text-center">{{Course.location || '-----'}}</span>
      </li>
      <li class="list-group-item">
        <i class="fas fa-clock"></i>
        <span class="ml-2 text-center">{{Course.startTime}}</span>
      </li>

    </ul>
  </div>

  <div class="card-footer text-right">

    <button type="button" class="btn-outline-primary btn float-right m-1 w-16 text-center"
            routerLink="/Course/{{Course.id}}"
            data-toggle="tooltip" data-placement="top"
            title="编辑详情">
      <i class="fas fa-pen"></i>
    </button>
    <button *ngIf="Course.hidden"
            type="button" class="btn float-right m-1 w-16 text-center btn-outline-danger"
            (click)="toggleHidden()">
      <i data-toggle="tooltip" data-placement="top"
         title="解除隐藏" class="fas fa-eye-slash"></i>
    </button>

    <button *ngIf="!Course.hidden && Course.source==LOCAL"
            type="button" class="btn float-right m-1 w-16 text-center btn-outline-danger"
            data-toggle="modal"
            [attr.data-target]="'#hide-confirm-'+Course.id">
      <i data-toggle="tooltip" data-placement="top"
         title="隐藏" class="fas fa-eye"></i>
    </button>
    <button *ngIf="!Course.hidden && Course.source!=LOCAL"
            type="button" class="btn float-right m-1 w-16 text-center btn-outline-danger"
            data-toggle="modal"
            [attr.data-target]="'#delete-confirm-'+Course.id">
      <i data-toggle="tooltip" data-placement="top"
         title="移除" class="fas fa-times"></i>

    </button>
    <button *ngIf="Course.enableNotification" type="button"
            class="btn float-right m-1 w-16 text-center btn-outline-warning"
            data-toggle="modal" [attr.data-target]="'#mute-confirm-'+Course.id">
      <i data-toggle="tooltip" data-placement="top"
         title="关闭通知" class="fas fa-bell"></i>

    </button>
    <button *ngIf="!Course.enableNotification" type="button"
            class="btn float-right m-1 w-16 text-center btn-outline-warning"
            (click)="toggleNotify()">
      <i data-toggle="tooltip" data-placement="top"
         title="启用通知" class="fas fa-bell-slash"></i>
    </button>
    <button type="button" class="btn-outline-success btn float-right m-1 w-16 text-center"
            data-toggle="modal" [attr.data-target]="'#share-course-'+Course.id">
      <i class="fas fa-share-alt"
         data-toggle="tooltip" data-placement="top"
         title="分享课程"></i>
    </button>
  </div>
</div>
<app-share-dialog [ComponentId]="'share-course-'+Course.id" [TargetId]="Course.id" ShareType="课程"></app-share-dialog>
<app-confirm-dialog [ComponentId]="'hide-confirm-'+Course.id"
                    Expression="要隐藏课程{{Course.courseName}}吗？隐藏后的课程不会显示在课表中，但是可在隐藏的课程中恢复。"
                    Target="隐藏"
                    (Confirmed)="toggleHidden()">
</app-confirm-dialog>
<app-confirm-dialog [ComponentId]="'delete-confirm-'+Course.id"
                    Expression="要删除共享课程{{Course.courseName}}吗？此操作不可逆。"
                    Target="删除"
                    (Confirmed)="toggleHidden()">
</app-confirm-dialog>
<app-confirm-dialog [ComponentId]="'mute-confirm-'+Course.id"
                    Expression="要关闭课程{{Course.courseName}}的通知吗？关闭后将无法收到上课通知。"
                    Target="关闭通知"
                    (Confirmed)="toggleNotify()">
</app-confirm-dialog>

