<header class="navbar navbar-expand-sm navbar-light flex-column flex-md-row bg-SchOOD-L1">
  <div class="navbar-brand">
    <img src="../assets/Full.svg" height="50" width="50" alt=""/>
    <span style="margin: 10px">SchOOD</span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="Home" routerLinkActive="active">首页<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Courses" id="coursesDropdown" routerLinkActive="active">课程</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="About" routerLinkActive="active">关于</a>
        </li>

      </ul>
    </div>

    <button class="btn float-right nav-link w-16 text-center"

            data-toggle="modal" data-target="#exportSchedule"
    >
      <i class="fas fa-calendar-check"
         data-toggle="tooltip" data-placement="top"
         title="导出课表"></i>
    </button>
    <button class="btn float-right nav-link w-16 text-center"

            data-toggle="modal" data-target="#shareSchedule">
      <i class="fas fa-share-alt"
         data-toggle="tooltip" data-placement="top"

         title="分享我的课表"></i>
    </button>
    <button *ngIf="!user.enableNotification" class="btn float-right nav-link w-16 text-center"
            data-toggle="tooltip" data-placement="top"
            (click)="altNotify()"
            title="启用通知">
      <i  class="fas fa-bell-slash"></i>
    </button>
    <button *ngIf="user.enableNotification"
      class="btn float-right nav-link w-16 text-center"
            data-toggle="modal" data-target="#mute-confirm-system">
      <i class="fas fa-bell"
         data-toggle="tooltip" data-placement="top"
         title="关闭通知"></i>
    </button>
    <button class="btn float-right nav-link w-16 text-center"
            data-toggle="tooltip" data-placement="top"
            (click)="userService.logout()"
            title="登出">
      <i class="fas fa-sign-out-alt"></i>
    </button>

  </div>

</header>
<main role="main" class="flex-shrink-0">
  <router-outlet></router-outlet>
</main>
<app-messages class="ngb-toasts"></app-messages>
<app-share-dialog ComponentId="shareSchedule" [TargetId]="user.id" ShareType="课表"></app-share-dialog>
<app-export-dialog ComponentId="exportSchedule" [TargetUrl]="user.calendarUrl"></app-export-dialog>
<app-confirm-dialog ComponentId="mute-confirm-system"
                    Expression="要关闭课表通知吗？关闭后将无法收到所有课程的上课通知。"
                    Target="关闭通知"
                    (Confirmed)="altNotify()">
</app-confirm-dialog>
<footer class="navbar navbar-expand-sm navbar-light pb-0 mb-0 rounded-bottom bg-SchOOD-L1 clearfix">
  <div class="float-left">
    <span class="d-block">&copy; ReFreSH 2020</span>
  </div>
</footer>
