<nav class="navbar navbar-expand-sm navbar-dark rounded-top flex-column flex-md-row bg-SchOOD-L2">


  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mr-auto">

      <span class="table-item-text">课程详情: {{course.courseName}}</span>
      <button class="btn float-right nav-link text-center m-0"

              data-toggle="modal" data-target="#editCourseName"
              style="font-size:1px">
        <i data-toggle="tooltip" data-placement="top"
           title="编辑" class="fas fa-edit"></i>
      </button>
    </div>
    <button class="btn float-right nav-link w-16 text-center"
            data-toggle="tooltip" data-placement="top"
            (click)="location.back()"
            title="返回">
      <i class="fas fa-arrow-alt-circle-left"></i>
    </button>

    <button class="btn float-right nav-link w-16 text-center"
            data-toggle="modal" data-target="#share-course">
      <i class="fas fa-share-alt"
         data-toggle="tooltip" data-placement="top"
         title="分享课程"

      ></i>
    </button>
    <button class="btn float-right nav-link w-16 text-center">
      <i *ngIf="course.enableNotification"
         data-toggle="tooltip" data-placement="top" title="关闭通知"
         class="fas fa-bell"></i>
      <i *ngIf="!course.enableNotification"
         data-toggle="tooltip" data-placement="top" title="启用通知"
         class="fas fa-bell-slash"></i>
    </button>
    <button class="btn float-right nav-link w-16 text-center"
            data-toggle="tooltip" data-placement="top"

            [title]="course.hidden?'解除隐藏': course.source==LOCAL? '隐藏':'移除'">
      <i *ngIf="course.hidden" class="fas fa-eye-slash"></i>
      <i *ngIf="!course.hidden && course.source==LOCAL" class="fas fa-eye"></i>
      <i *ngIf="!course.hidden && course.source!=LOCAL" class="fas fa-times"></i>
    </button>
  </div>

</nav>

<main role="main" class="container" style="margin-bottom: 25%">
  <div class="table-responsive d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">周数</th>
        <th scope="col">星期</th>
        <th scope="col">节次</th>
        <th scope="col">位置</th>
        <th scope="col">老师</th>
        <th scope="col">类别</th>
        <th scope="col">详情</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of course.events">
        <th scope="row" class="table-item-text">
          {{datetime.getWeekIndex(event.startTime)}}
        </th>
        <td class="table-item-text">
          {{datetime.getWeekDay(event.startTime)}}
        </td>
        <td class="table-item-text">
          {{datetime.FormatClassIndex(datetime.getClassIndex(event.startTime, event.type, event.duration))}}
        </td>
        <td class="table-item-text">
          {{event.location}}
        </td>
        <td class="table-item-text">
          {{event.teacher}}
        </td>
        <td class="table-item-text">
          {{FormatType(event.type)}}
        </td>
        <td>
          <a class="btn text-center h-auto" routerLink="/Event/{{event.id}}">
            <i class="fas fa-ellipsis-v" style="font-size:4px;vertical-align:bottom">

            </i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</main>
<app-edit-string-dialog
  ComponentId="editCourseName" [DefaultValue]="course.courseName"
  (ValueSubmitted)="updateCourseName($event)"
  ValueTypeName="课程名称">
</app-edit-string-dialog>
<app-share-dialog [TargetId]="course.id" ShareType="课程" ComponentId="share-course"></app-share-dialog>
