.bg-refresh-orange{
  background-color: #F15A24
}

.bg-refresh-yellow{
  background-color: #FBB03B
}

.bg-refresh-blue{
  background-color: #67CDFD
}
.bg-SchOOD-L2{
  background-color: #D9E021
}
.bg-refresh-purple{
  background-color: #7952b3
}

.font-size-32{
  font-size: 32px;
  text-align: center;
}

.w-16{
  width: 50px;
}

.bg-SchOOD-L1{
  background-color: #8CC63F
}
