<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1><a class="md-header-anchor"></a><span>欢迎来到SchOOD: 梦幻课表</span></h1>
    <h2><a class="md-header-anchor"></a><span>快速使用</span></h2>
    <ul>
      <li><span>点击</span><a href="" data-toggle="modal" data-target="#exportSchedule"><span>此处</span></a><span>或右上角的<i class="fas fa-calendar-check"></i>来使用课表导出功能。对于大部分设备，你可以直接使用<i class="fas fa-external-link-alt"></i>打开链接来将课表添加至日历。如果你的系统不支持这样做，可以复制链接手动添加。</span>
      </li>
      <li><span>通过点击<i class="fas fa-bell-slash"></i>/<i class="fas fa-bell"></i>，你可以打开/关闭整个课表的通知功能。当然，我们建议您始终打开通知。</span></li>

      <li><span>通过点击<i class="fas fa-share-alt"></i>，可以分享整个课表。</span></li>
      <li><span>通过点击<i class="fas fa-sign-out-alt"></i>，可以登出。</span></li>
    </ul>
    <h2><a class="md-header-anchor"></a><span>查看和编辑课程列表</span></h2>
    <p><span>点击导航栏的</span><a routerLink="Courses" ><span>课程</span></a><span>你可以查看各种分类课程信息，并编辑各个课程。如：</span></p>
    <ul>
      <li><span>通过导航位置，来分类查看各种课程</span></li>
      <li><span>通过点击导航栏的<i class="fas fa-plus"></i>来添加共享的课程/课表</span></li>
      <li><span>通过点击我的课程上的<i class="fas fa-eye"></i>/<i class="fas fa-eye-slash"></i>来隐藏/解除隐藏课程</span></li>
      <li><span>通过点击共享课程上的<i class="fas fa-times"></i>来删除共享的课程</span></li>
      <li><span>通过点击课程卡片上的<i class="fas fa-bell-slash"></i>/<i class="fas fa-bell"></i>来打开/关闭课程通知</span></li>
      <li><span>通过点击课程卡片上的<i class="fas fa-share-alt"></i>共享课程</span></li>
      <li><span>通过点击课程卡片上的<i class="fas"></i>来查看和编辑课程详情</span></li>
    </ul>
    <h2><a class="md-header-anchor"></a><span>查看和编辑课程详情</span></h2>
    <ul>
      <li><span>通过点击导航栏上的<i class="fas fa-arrow-alt-circle-left"></i>来返回上一界面</span></li>
      <li><span>通过点击导航栏上的<i class="fas fa-eye"></i>/<i class="fas fa-eye-slash"></i>来隐藏/解除隐藏我的课程</span></li>
      <li><span>通过点击导航栏上的<i class="fas fa-times"></i>来删除共享的课程</span></li>
      <li><span>通过点击导航栏上的<i class="fas fa-bell-slash"></i>/<i class="fas fa-bell"></i>来打开/关闭课程通知</span></li>
      <li><span>通过点击课程名称旁的<i class="fas fa-edit"></i>来为课程设置别名</span></li>
      <li><span>查看课程包含事件的列表，点击每一项后的<i class="fas fa-ellipsis-v"></i>可编辑事件详情</span></li>
    </ul>
    <h2><a class="md-header-anchor"></a><span>编辑事件详情</span></h2>
    <ul>
      <li><span>通过点击导航栏上的<i class="fas fa-arrow-alt-circle-left"></i>来返回上一界面</span></li>
      <li><span>通过点击导航栏上的<i class="fas fa-eye"></i>/<i class="fas fa-eye-slash"></i>来隐藏/解除隐藏事件</span></li>
      <li><span>查看事件的各种信息，点击每一项后的<i class="fas fa-edit"></i>可编辑信息详情</span></li>
    </ul>
  </main>
</div>
